.main {
  min-height: 100vh;
  margin-top: 8vh;

  background: rgba(65, 117, 5, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(63, 46, 46, 0.18);
}

.title {
  margin: 2rem auto;
  text-align: center;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.imgContainer img:hover {
  cursor: pointer;
  /* transform: scale(1.2);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95); */
}

.textContainer {
  text-align: justify;
  margin: 2rem 2rem;
}

.links {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 640px) {
  .title {
    margin: 3rem auto;
  }
  .textContainer {
    margin: 3rem 6rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .stack {
    position: absolute;
    right: 8rem;
    top: 18vh;
    width: 25%;
  }

  .textContainer {
    font-size: 1.4rem;
    width: 50%;
  }

  .imgContainer {
    display: inline-flex;
    margin-left: 20%;

    padding: 0 2rem;
  }
  .links {
    position: absolute;
    right: 12rem;
    top: 55%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
  }
}
