.main {
  min-height: 150vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin-top: 8vh;

  background: rgba(65, 117, 5, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(63, 46, 46, 0.18);
}

.mainDiv {
  display: grid;
  grid-template-rows: 200px auto;
}

.skillsContainer {
  display: grid;
  grid-auto-flow: dense;
  gap: 25px;
}

.leftSide,
.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.title a {
  color: rgba(210, 223, 32, 0.911);
}

.title a:hover {
  text-decoration: underline;
}

/* display: flex;
justify-content: space-around;
flex-direction: row;
flex-flow: wrap; */

/* display: grid;
grid-template-rows: repeat(auto, auto);
gap: 25px;
margin: 20px; */

@media (min-width: 640px) {
  .skillsContainer {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 10% auto 10%;
  }
  .skillsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
